<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="../stylesheets/style.css" />
    </head>
    <body>
        <header>
            <h1><%= skill.name %> Subskills</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/"> Home </a>
                    </li>
                </ul>
            </nav>
        </header>
        <ol>
            <% if(skill.subSkills && skill.subSkills.length > 0) { %>
            <% for (let subSkill of skill.subSkills) { %>
            <li>
                <a href="<%= subSkill.link %>"><%= subSkill.name %></a> : <%=
                subSkill.description %>
            </li>
            <% } }%>
        </ol>
        <ol style="list-style: none">
            <li>
                <form
                    action="/skills/<%= skill.id %>?_method=DELETE"
                    method="POST"
                >
                    <button
                        id="delete"
                        type="submit"
                        style="
                            color: black;
                            border: 1px solid black;
                            border-radius: 7px;
                            cursor: pointer;
                        "
                    >
                        Delete this skill
                    </button>
                </form>
            </li>
        </ol>
    </body>
</html>
